.playerArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh!important;
}

.activeArea {
    height: 50vh;
    width: 100vw;
    background-color: aliceblue;
}

.bench {
    height: 50vh;
    width: 100vw;
    background-color: azure;
}

.table {
    width: 100vw;
}